@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }

  .bg-primary {
    background-color: #9b7a42;
  }
  .bg-primary:hover {
    background-color: #6d5329;
  }
  .text-primary {
    color: #c9a569;
  }
}
